html {
    font-size: 10px;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    background-color: rgba(209, 211, 211, 0.596);
}

h1 {
    font-size: 5em;
    margin-bottom: 20px;
}

#headline {
    font-size: 4em;
}

p {
    margin-bottom: 40px;
}

img {
    width: 80%;
}

figcaption {
    margin-top: 1em;
    margin-bottom: 3em;
}

hr {
    width: 30%;
    border: 1px solid#fff;
    margin-bottom: 4em;
}

section {
    background-color: rgba(0, 0, 0, 0.712);
    color: #fff;
    padding: 1em;
    padding-top: 5em;
    line-height: 2em;
}

footer {
    /* width: 100%; */
    height: 3em;
}